img.imagem_pequena{
    display:inline-block;
    height: auto;
    max-width: 30%;
}

figure{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

figure>img{
    width: 100%;
    height:auto;
}