

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    margin: 0 auto;
}

main>h1{
    background-color: rgb(226,237,243);
    padding: 15px;
}
main>figure{
    width: 550px;
    border: solid limegreen 1px;
    background-color: rgb(245,245,245);
    padding: 12px;
    margin: 0 auto;
    text-align: center;
}

main>figure>img{
   width: 550px;
   padding-bottom: 8px;
}

main>figure>figurecaption{
    text-align: center;
}

figure{
    float: left;
}